$player-width: 100px;
$player-height: 100px;
$pitch-background: url('../images/pitch.png');
$player-gold: url('../images/large-gold-rare.png');
$player-default: url('../images/player.png');
$pitch-width: 910px;
$pitch-height: 747px;
$quantity-players: 11;

.center{
    text-align: center;
}