$player-width: 100px;
$player-height: 100px;
$pitch-background: url('../../images/pitch.png');
$player-gold: url('../../images/large-gold-rare.png');
$player-toty: url('../../images/large-toty.png');
$player-default: url('../../images/player.png');
$pitch-width: 100%;
$pitch-height: 900px;
$quantity-players: 11;

.center{
    text-align: center;
}

