@import "constants";

//@for $x from 1 through $quantity-players {
.goalkeeper {
  // position: absolute;
  text-align: center;
  width: $pitch-width;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.midfielders {
  // position: absolute;
  text-align: center;
  width: $pitch-width;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.defenders {
  // position: absolute;
  text-align: center;
  width: $pitch-width;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.forwards {
  // position: absolute;
  text-align: center;
  width: $pitch-width;
  height: 150px;
  margin: auto auto;
  display: block;
}

//}

