@import 'constants';

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.stadium {
  background: $pitch-background no-repeat center;
  width: $pitch-width;
  height: $pitch-height;
  position:  relative;
  display: flex;
  justify-content: center;
}